{% extends "baseWidgetEditor.html" %}

{% block modalClass %}
  {{super()}} apos-rss-editor
{% endblock %}

{% block modalLabel %}
  {{ __('Select RSS Feed') }}
{% endblock %}

{% block modalInstructions %}
  <p>{{ __('Paste an RSS feed URL.')}}</p>
{% endblock %}

{% block formBody %}
  <fieldset class="apos-fieldset apos-fieldset-text">
    <label>{{ __('Feed:') }}</label>
    <input name="feed" class="apos-rss-feed" />
  </fieldset>
  <fieldset class="apos-fieldset apos-fieldset-text">
    <label>{{ __('Limit:') }}</label>
    <input name="limit" class="apos-input-narrow" />
  </fieldset>

  {# <label>{{ __('Feed:') }} <input name="feed" class="apos-rss-feed" /></label>
  <label>{{ __('Limit:') }} <select name="limit">
    <option>1</option>
    <option>3</option>
    <option>5</option>
    <option>10</option>
    <option>20</option>
  </select></label> #}
{% endblock %}
