{% extends "baseWidgetEditor.html" %}

{% block modalClass %}
  {{super()}} apos-rss-editor
{% endblock %}

{% block modalLabel %}
  {{ __('Select RSS Feed') }}
{% endblock %}

{% block modalInstructions %}
  <p>{{ __('Paste an RSS feed URL.')}}</p>
{% endblock %}

{% block formBody %}
  <label>Feed: <input name="feed" class="apos-rss-feed" /></label>
  <label>Limit: <select name="limit">
    <option>1</option>
    <option>3</option>
    <option>5</option>
    <option>10</option>
    <option>20</option>
  </select></label>
{% endblock %}
